{{define "title"}}500 - Internal Server Error | Baazaru - Your Altimate Classified.{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="intro-inner">
		<div class="about-intro" style="background:url({{.BaseURI}}web/images/bg2.jpg) no-repeat center; background-size:cover;">
			<div class="dtable hw100">
				<div class="dtable-cell hw100">
					<div class="container text-center">
						<h1 class="intro-title animated fadeInDown"> 500 - Internal Server Error </h1>
					</div>
				</div>
			</div>
		</div>
		<!--/.about-intro -->
	</div>
	<!-- /.intro-inner -->
	
	<div class="main-container inner-page">
		<div class="container">
			<div class="row clearfix">
				<h1 class="text-center title-1"> Oops! internal server error occured while procesing your request. </h1>
				<hr class="mx-auto small text-hr">
	
				<div style="clear:both">
					<hr>
				</div>
				<div class="col-xl-12">
					<div class="white-box text-center" style="min-height: 400px">
						<p>I'm sure you were looking for something important, but it doesn't seem to
								be working right now.
								Navigate back to the previous page and try again!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.main-container -->
{{end}}
{{define "foot"}}{{end}}