{{define "_footer"}}
<footer class="main-footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">

				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
					<div class="footer-col">
						<h4 class="footer-title">About us</h4>
						<ul class="list-unstyled footer-nav">
							<li><a href="{{.BaseURI}}about">About Company</a></li>
							<li><a href="{{.BaseURI}}partners">Our Partners</a></li>
							<li><a href="{{.BaseURI}}contact">Press Contact</a></li>
							<li><a href="{{.BaseURI}}career">Careers</a></li>
							<li><a href="{{.BaseURI}}terms">Terms & Conditions</a></li>
							<li><a href="{{.BaseURI}}privacy">Privacy & Policy</a></li>
						</ul>
					</div>
				</div>

				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
					<div class="footer-col">
						<h4 class="footer-title">Help & Contact</h4>
						<ul class="list-unstyled footer-nav">
							<li><a href="#">Stay Safe Online</a></li>
							<li><a href="#">How to Sell</a></li>
							<li><a href="#">How to Buy</a></li>
							<li><a href="#">Posting Rules</a></li>
							<li><a href="#">For Business</a></li>
							
						</ul>
					</div>
				</div>

				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
					<div class="footer-col">
						<h4 class="footer-title">More From Us</h4>
						<ul class="list-unstyled footer-nav">
							<li><a href="{{.BaseURI}}faq">FAQ</a></li>
							<li><a href="{{.BaseURI}}blog">Blog</a></li>
							<li><a href="#">Popular Searches</a></li>
							<li><a href="{{.BaseURI}}sitemap.xml"> Site Map</a></li>
							<li><a href="#"> Customer Reviews</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
					<div class="footer-col">
						<h4 class="footer-title">Account</h4>
						<ul class="list-unstyled footer-nav">
							<li><a href="{{.BaseURI}}account"> Manage Account</a></li>
							<li><a href="{{.BaseURI}}login">Login</a></li>
							<li><a href="{{.BaseURI}}register">Register</a></li>
							<li><a href="{{.BaseURI}}account/my-ad"> My ads</a></li>
							<li><a href="{{.BaseURI}}profile"> Profile</a></li>
							<li><a href="{{.BaseURI}}promote">Promote Your Ad</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-4 col-xl-4 col-md-4 col-12">
					<div class="footer-col row">

						<div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
							<div class="mobile-app-content">
								<h4 class="footer-title">Mobile Apps</h4>
								<div class="row ">
									<div class="col-6  ">
										<a class="app-icon" target="_blank"  href="https://itunes.apple.com/">
											<span class="hide-visually">iOS app</span>
											<img src="{{.BaseURI}}web/images/site/app_store_badge.svg" alt="Available on the App Store">
										</a>
									</div>
									<div class="col-6  ">
										<a class="app-icon"  target="_blank" href="https://play.google.com/store/">
											<span class="hide-visually">Android App</span>
											<img src="{{.BaseURI}}web/images/site/google-play-badge.svg" alt="Available on the App Store">
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
							<div class="hero-subscribe">
								<h4 class="footer-title no-margin">Follow us on</h4>
								<ul class="list-unstyled list-inline footer-nav social-list-footer social-list-color footer-nav-inline">
									<li><a class="icon-color fb" title="Facebook" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i> </a></li>
									<li><a class="icon-color tw" title="Twitter" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i> </a></li>
									<li><a class="icon-color gp" title="Google+" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i> </a></li>
									<li><a class="icon-color lin" title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i> </a></li>
									<li><a class="icon-color pin" title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-pinterest-p"></i> </a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div style="clear: both"></div>

				<div class="col-xl-12">
					<div class=" text-center paymanet-method-logo">

						<img src="{{.BaseURI}}web/images/site/payment/master_card.png" alt="img">
						<img alt="img" src="{{.BaseURI}}web/images/site/payment/visa_card.png">
						<img alt="img" src="{{.BaseURI}}web/images/site/payment/paypal.png">
						<img alt="img" src="{{.BaseURI}}web/images/site/payment/american_express_card.png"> 
						<img alt="img" src="{{.BaseURI}}web/images/site/payment/discover_network_card.png">
						<img alt="img" src="{{.BaseURI}}web/images/site/payment/google_wallet.png">
					</div>

					<div class="copy-info text-center">
						&copy; 2017 Baazaru. All Rights Reserved.
					</div>

				</div>

			</div>
		</div>
	</div>
</footer>
{{end}}