{{define "title"}}Home | Baazaru - Your Altimate Clasified{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="intro-inner">
    <div class="about-intro" style="background:url({{.BaseURI}}web/images/bg2.jpg) no-repeat center; background-size:cover;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center animated fadeInDown">
                    <h1 class="intro-title"> Classified Blogs</h1>
                    <h2>Sign up to subscribe to email alerts and <br> you'll never miss a post. Subscribe Now !</h2>
                    <div class="row justify-content-md-center search-row animated fadeInUp">
                        <div class="col-xl-4 col-sm-offset-2 col-sm-4 search-col relative ">
                            <input type="text" value="" placeholder="Your email..." class="form-control locinput input-rel searchtag-input ">
                        </div>
                        <div class="col-xl-4 col-sm-4 search-col">
                            <button class="btn btn-primary btn-search btn-block"><i class="icon-mail-1"></i><strong> Subscribe</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.about-intro -->
</div>
<!-- /.intro-inner -->

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <div class="col-sm-8 blogLeft">
                    <div class="blog-post-wrapper">
                        <article class="blog-post-item">
                            <div class="inner-box">
                                <!--blog image-->
                                <div class="blog-post-img">
                                    <a href="{{.BaseURI}}blog/my-first-blog-title">
                                        <figure>
                                            <img class="img-responsive" alt="blog-post image" src="{{.BaseURI}}web/images/blog/1.jpg">
                                        </figure>
                                    </a>
                                </div>
                                <!--blog content-->

                                <div class="blog-post-content-desc">
                        <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  -
                            <span class="author"> <i class="fa fa-user"></i>  <a rel="author" title="Posts by Jhon Doe" href="#">Jhon Doe</a> </span>  -
                            <span class="item-location"><i class="fa fa-comments"></i> Comments <a href="#">0</a> </span> </span>

                                    <div class="blog-post-content">
                                        <h2><a href="{{.BaseURI}}blog/my-first-blog-title">Curabitur pretium tincidunt lacus</a></h2>
                                        <p>Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                                            vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.</p>
                                        <div class="row">
                                            <div class="col-md-12 clearfix blog-post-bottom">
                                                <a class="btn btn-primary  pull-left" href="{{.BaseURI}}blog/my-first-blog-title">More info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="blog-post-item">
                            <div class="inner-box">
                                <!--blog image-->
                                <div class="blog-post-img">
                                    <a href="{{.BaseURI}}blog/my-first-blog-title">
                                        <figure>
                                            <img class="img-responsive" alt="blog-post image"
                                                 src="{{.BaseURI}}web/images/blog/2.jpg">
                                        </figure>
                                    </a>
                                </div>
                                <!--blog content-->
                                <div class="blog-post-content-desc">
                        <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  -
                            <span class="author"> <i class="fa fa-user"></i>  <a rel="author" title="Posts by Jhon Doe" href="#">Jhon Doe</a> </span>  -
                            <span class="item-location"><i class="fa fa-comments"></i> Comments <a href="#">0</a> </span> </span>
                                    <div class="blog-post-content">
                                        <h2><a href="{{.BaseURI}}blog/my-first-blog-title">Donec leo lorem, suscipit vitae eros et,
                                            tristique viverra orci</a></h2>

                                        <p>Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                                            vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.</p>

                                        <div class="row">
                                            <div class="col-md-12 clearfix blog-post-bottom">
                                                <a class="btn btn-primary  pull-left" href="{{.BaseURI}}blog/my-first-blog-title">More info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="blog-post-item">
                            <div class="inner-box">
                                <!--blog image-->
                                <div class="blog-post-img">

                                    <a href="{{.BaseURI}}blog/my-first-blog-title">
                                        <figure>
                                            <img class="img-responsive" alt="blog-post image" src="{{.BaseURI}}web/images/blog/9.jpg">
                                        </figure>
                                    </a>
                                </div>
                                <!--blog content-->

                                <div class="blog-post-content-desc">


                        <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  -
                            <span class="author"> <i class="fa fa-user"></i>  <a rel="author"
                                                                                 title="Posts by Jhon Doe" href="#">Jhon
                                Doe</a> </span>  -
                            <span class="item-location"><i class="fa fa-comments"></i> Comments <a
                                    href="#">0</a> </span> </span>


                                    <div class="blog-post-content">
                                        <h2><a href="{{.BaseURI}}blog/my-first-blog-title">Curabitur pretium tincidunt lacus</a></h2>

                                        <p>Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                                            vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.</p>

                                        <div class="row">
                                            <div class="col-md-12 clearfix blog-post-bottom">
                                                <a class="btn btn-primary  pull-left" href="{{.BaseURI}}blog/my-first-blog-title">More
                                                    info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </article>

                        <article class="blog-post-item">
                            <div class="inner-box">


                                <!--blog image-->
                                <div class="blog-post-img">

                                    <a href="{{.BaseURI}}blog/my-first-blog-title">
                                        <figure>
                                            <img class="img-responsive" alt="blog-post image"
                                                 src="{{.BaseURI}}web/images/blog/4.jpg">
                                        </figure>
                                    </a>
                                </div>

                                <!--blog content-->

                                <div class="blog-post-content-desc">


                        <span class="info-row blog-post-meta"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  -
                            <span class="author"> <i class="fa fa-user"></i>  <a rel="author"
                                                                                 title="Posts by Jhon Doe" href="#">Jhon
                                Doe</a> </span>  -
                            <span class="item-location"><i class="fa fa-comments"></i> Comments <a
                                    href="#">0</a> </span> </span>


                                    <div class="blog-post-content">
                                        <h2><a href="{{.BaseURI}}blog/my-first-blog-title">In enim justo, rhoncus ut, imperdiet a,
                                            venenatis vitae, justo</a></h2>

                                        <p>Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                                            vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.</p>

                                        <div class="row">
                                            <div class="col-md-12 clearfix blog-post-bottom">
                                                <a class="btn btn-primary  pull-left" href="{{.BaseURI}}blog/my-first-blog-title">More
                                                    info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </article>


                    </div>
                    <!--/.blog-post-wrapper-->
                </div>
                <!--blogLeft-->


                <div class="col-sm-4 blogRight page-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="categories-list  list-filter">
                                <h5 class="list-title uppercase"><strong><a href="#"> Categories</a></strong></h5>
                                <ul class=" list-unstyled list-border ">
                                    <li><a href="#"><span class="title">Electronics</span><span class="count">&nbsp;8626</span></a>
                                    </li>
                                    <li><a href="#"><span class="title">Automobiles </span><span class="count">&nbsp;123</span></a>
                                    </li>
                                    <li><a href="#"><span class="title">Property </span><span
                                            class="count">&nbsp;742</span></a></li>
                                    <li><a href="#"><span class="title">Services </span><span class="count">&nbsp;8525</span></a>
                                    </li>
                                    <li><a href="#"><span class="title">For Sale </span><span
                                            class="count">&nbsp;357</span></a></li>
                                    <li><a href="#"><span class="title">Learning </span><span class="count">&nbsp;3576</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.categories-list-->
                            <div class="categories-list  list-filter">
                                <h5 class="list-title uppercase"><strong><a href="#"> recent
                                    popular</a></strong></h5>


                                <div class="blog-popular-content">
                                    <div class="item-list">


                                        <div class="col-sm-4 col-xs-4 no-padding photobox">
                                            <div class="add-image"><a href="ads-details.html"><img class="no-margin"
                                                                                                   src="{{.BaseURI}}web/images/blog/5.jpg"
                                                                                                   alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-8 col-xs-8 add-desc-box">
                                            <div class="ads-details">
                                                <h5 class="add-title"><a href="ads-details.html">Sed aliquam leo et
                                                    dui venenatis cursus</a></h5>
                                                <span class="info-row">  <span class="date"><i
                                                        class=" icon-clock"> </i> Today 1:21 pm </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->


                                    </div>

                                    <div class="item-list">


                                        <div class="col-sm-4 col-xs-4 no-padding photobox">
                                            <div class="add-image"><a href="ads-details.html"><img class="no-margin"
                                                                                                   src="{{.BaseURI}}web/images/blog/7.jpg"
                                                                                                   alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-8 col-xs-8 add-desc-box">
                                            <div class="ads-details">
                                                <h5 class="add-title"><a href="ads-details.html">Maecenas vel
                                                    consequat metus perferendis sunt aliquam </a></h5>
                                                <span class="info-row">  <span class="date"><i
                                                        class=" icon-clock"> </i> Today 12:50 pm </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->


                                    </div>

                                    <div class="item-list">


                                        <div class="col-sm-4 col-xs-4 no-padding photobox">
                                            <div class="add-image"><a href="ads-details.html"><img class="no-margin"
                                                                                                   src="{{.BaseURI}}web/images/blog/3.jpg"
                                                                                                   alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-8 col-xs-8 add-desc-box">
                                            <div class="ads-details">
                                                <h5 class="add-title"><a href="ads-details.html">Pellentesque
                                                    venenatis, arcu in aliquam ultricies</a></h5>
                                                <span class="info-row">  <span class="date"><i
                                                        class=" icon-clock"> </i> Today 12:10 pm </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->


                                    </div>

                                    <div class="item-list">


                                        <div class="col-sm-4 col-xs-4 no-padding photobox">
                                            <div class="add-image"><a href="ads-details.html"><img class="no-margin"
                                                                                                   src="{{.BaseURI}}web/images/item/tp/Image00006.jpg"
                                                                                                   alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-8 col-xs-8 add-desc-box">
                                            <div class="ads-details">
                                                <h5 class="add-title"><a href="ads-details.html">Erat mauris tempus
                                                    purus consectetur adipiscing elit. </a></h5>
                                                <span class="info-row">  <span class="date"><i
                                                        class=" icon-clock"> </i> Today 10:30 am</span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->


                                    </div>

                                    <div class="item-list">


                                        <div class="col-sm-4 nocol-sm-4 col-xs-4 no-padding photoboxpadding photobox">
                                            <div class="add-image"><a href="ads-details.html"><img class="no-margin"
                                                                                                   src="{{.BaseURI}}web/images/blog/10.jpg"
                                                                                                   alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="col-sm-8 col-xs-8 add-desc-box">
                                            <div class="ads-details">
                                                <h5 class="add-title"><a href="ads-details.html">Inventore ex
                                                    perferendis sunt aliquam </a></h5>
                                                <span class="info-row">  <span class="date"><i
                                                        class=" icon-clock"> </i> Today 9:20 am </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->


                                    </div>


                                </div>


                                <div style="clear:both"></div>

                                <!--/.categories-list-->

                            </div>

                        </div>
                    </aside>
                </div>
                <!--page-sidebar-->

            </div>
        </div>

    </div>

</div>
<!-- /.main-container -->
<div class="parallaxbox about-parallax-bottom">
    <div class="container">
        <div class="row text-center featuredbox">
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class="icon-book-open ln-shadow-box shape-3"></i></div>
                    <h3 class="title-4">Customer service</h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
                        tortor.</p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class=" icon-lightbulb ln-shadow-box shape-6"></i></div>
                    <h3 class="title-4">Seller satisfaction</h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor.
                        .</p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class="icon-megaphone ln-shadow-box shape-5"></i></div>
                    <h3 class="title-4">Best Offers </h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
                        tortor. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "foot"}}{{end}}