{{define "title"}}Home | Baazaru - Your Altimate Clasified{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <nav aria-label="breadcrumb" role="navigation" class="pull-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home fa"></i></a></li>
                        <li class="breadcrumb-item"><a href="category.html">All Ads</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Electronics</li>
                    </ol>
                </nav>


                <div class="pull-right backtolist"><a href="sub-category-sub-location.html"> <i
                        class="fa fa-angle-double-left"></i> Back to Results</a></div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 page-content col-thin-right">
                <div class="inner inner-box ads-details-wrapper">
                    <h2> Xperia™ C3 Dual available
                        <small class="label label-default adlistingtype">Company ad</small>
                    </h2>
                    <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span>

                    <div class="ads-image">
                        <h1 class="pricetag"> $25</h1>
                        <ul class="bxslider">
                            <li><img src="{{.BaseURI}}web/images/item/tp-big/Image00014.jpg" alt="img"/></li>
                            <li><img src="{{.BaseURI}}web/images/item/tp-big/Image00015.jpg" alt="img"/></li>
                            <li><img src="{{.BaseURI}}web/images/item/tp-big/Image00013.jpg" alt="img"/></li>
                        </ul>
                        <div id="bx-pager">
                            <a class="thumb-item-link" data-slide-index="0" href="#"><img
                                    src="{{.BaseURI}}web/images/item/tp/Image00014.jpg" alt="img"/></a>
                            <a class="thumb-item-link" data-slide-index="1" href="#"><img
                                    src="{{.BaseURI}}web/images/item/tp/Image00015.jpg" alt="img"/></a>
                            <a class="thumb-item-link" data-slide-index="2" href="#"><img
                                    src="{{.BaseURI}}web/images/item/tp/Image00013.jpg" alt="img"/></a>
                        </div>
                    </div>
                    <!--ads-image-->

                    <div class="Ads-Details">
                        <h5 class="list-title"><strong>Ads Detsils</strong></h5>

                        <div class="row">
                            <div class="ads-details-info col-md-8">
                                <p>Sony Xperia C3 Dual smartphone with 5.50-inch 720x1280 display powered by 1.2GHz
                                    processor alongside 1GB RAM and 8-megapixel rear camera. </p>
                                <h4>Camera and video</h4>
                                <ul class="list-circle">
                                    <li>5 MP Front-facing camera (720p)</li>
                                    <li>Front flash LED</li>
                                    <li>Wide view front camera</li>
                                    <li>8 MP camera with auto focus</li>
                                    <li>HD video recording 1080 p</li>
                                    <li>Sony Exmor RS for mobile image sensor</li>
                                    <li>HDR (High Dynamic Range) for photos and videos</li>
                                    <li>Pulsed LED flash</li>
                                    <li>16x digital zoom</li>
                                    <li>Superior Auto – automatic scene selection</li>
                                    <li>Geotagging – add location info to your photos</li>
                                    <li>Object tracking – lock focus on a specific object</li>
                                    <li>Red-eye reduction</li>
                                    <li>Image capture, supported file format: JPEG</li>
                                    <li>Image playback, supported file formats: BMP, GIF, JPEG, PNG; WebP</li>
                                    <li>Video capture, supported file formats: 3GPP, MP4</li>
                                    <li>Video playback, supported file formats: 3GPP, MP4, M4V, AvI, XVID, WEBM</li>
                                </ul>
                                <h4>Networks</h4>
                                <ul>
                                    <li>GSM GPRS/EDGE (2G)</li>
                                    <li>UMTS HSPA (3G)</li>
                                    <li>LTE (4G)</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <aside class="panel panel-body panel-details">
                                    <ul>
                                        <li>
                                            <p class=" no-margin "><strong>Price:</strong> $ 2,45</p>
                                        </li>
                                        <li>
                                            <p class="no-margin"><strong>Type:</strong> Mobile Mobiles,For sale</p>
                                        </li>
                                        <li>
                                            <p class="no-margin"><strong>Location:</strong> New York </p>
                                        </li>
                                        <li>
                                            <p class=" no-margin "><strong>Condition:</strong> New</p>
                                        </li>
                                        <li>
                                            <p class="no-margin"><strong>Brand:</strong> Sony</p>
                                        </li>
                                    </ul>
                                </aside>
                                <div class="ads-action">
                                    <ul class="list-border">
                                        <li><a href="#"> <i class=" fa fa-user"></i> More ads by User </a></li>
                                        <li><a href="#"> <i class=" fa fa-heart"></i> Save ad </a></li>
                                        <li><a href="#"> <i class="fa fa-share-alt"></i> Share ad </a></li>
                                        <li><a href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer text-left">
                            <a class="btn  btn-default" data-toggle="modal" href="#contactAdvertiser"> <i class=" icon-mail-2"></i> Send a message </a> 
                            <a class="btn  btn-info"><i class=" icon-phone-1"></i> 01680 531 352 </a>
                        </div>
                    </div>
                </div>
                <!--/.ads-details-wrapper-->

            </div>
            <!--/.page-content-->

            <div class="col-md-3  page-sidebar-right">
                <aside>
                    <div class="card sidebar-card  bg-contact-seller">
                        <div class="card-header">Contact Seller</div>
                        <div class="card-content user-info">
                            <div class="card-body text-center">
                                <div class="seller-info">
                                    <h3 class="no-margin">Richard Aki</h3>
                                    <p>Location: <strong>New York</strong>
                                    </p>
                                    <p>Joined: <strong>12 Mar 2009</strong>
                                    </p>
                                </div>
                                <div class="user-ads-action">
                                    <a href="#contactAdvertiser" data-toggle="modal" class="btn   btn-secondary btn-block"><i class=" icon-mail-2"></i> Send a message </a>
                                    <a class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> 01680 531352</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card sidebar-panel">
                        <div class="card-header">Safety Tips for Buyers</div>
                        <div class="card-content">
                            <div class="card-body text-left">
                                <ul class="list-check">
                                    <li>Meet seller at a public place</li>
                                    <li>Check the item before you buy</li>
                                    <li>Pay only after collecting the item</li>
                                </ul>
                                <p><a class="float-right" href="#"> Know more <i
                                        class="fa fa-angle-double-right"></i> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.categories-list-->
                </aside>
            </div>
            <!--/.page-side-bar-->
        </div>
    </div>
</div>
<!-- /.main-container -->

{{end}}
{{define "foot"}}
<!-- bxSlider Javascript file -->
{{JS "web/assets/plugins/bxslider/jquery.bxslider.min.js"}}
<script>
    $('.bxslider').bxSlider({
        pagerCustom: '#bx-pager'
    });

</script>
{{end}}