{{define "title"}}Terms of Service | Baazaru - Your Altimate Clasified ClassifiedAds{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="intro-inner">
    <div class="about-intro" style="background:url({{.BaseURI}}web/images/bg2.jpg) no-repeat center; background-size:cover;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Terms and Conditions </h1>
                </div>
            </div>
        </div>
    </div>
    <!--/.about-intro -->
</div>
<!-- /.intro-inner -->
<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h2 class="text-center title-1"> Welcome to the Classified Terms & Conditions </h2>
                <hr class="center-block small text-hr">
            </div>
            <div class="container-content">
                <div class="inner-box ">
                    <p><strong> Please read the following terms and conditions very carefully as your use of service
                        is
                        subject to your acceptance of and compliance with the following terms and conditions
                        ("Terms"). </strong></p>

                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla diam. Quisque
                        sed
                        sagittis sem. Nulla ultrices tortor eu ligula pulvinar rutrum. Sed euismod, turpis posuere
                        feugiat lacinia, velit tortor elementum eros, sit amet consectetur risus est varius mi.
                        Curabitur sit amet </p>
                    <hr>
                    <div class="w100 clearfix">
                        <h3> Introduction </h3>

                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus risus nisl, fringilla
                            vitae orci non, mollis dapibus dui. Vestibulum ante ipsum primis in faucibus orci luctus
                            et
                            ultrices posuere cubilia Curae; Etiam quis vestibulum nunc. Nam malesuada leo vel nibh
                            ullamcorper varius. In hac habitasse platea dictumst. Pellentesque adipiscing nulla ut
                            justo
                            facilisis, et aliquam ipsum cursus. Nunc ullamcorper cursus ipsum. Nullam dictum, justo
                            a
                            pellentesque tempor, diam risus mollis massa, ac adipiscing orci diam egestas eros. </p>
                        <hr>
                        <h3> User Account, Password, and Security: </h3>

                        <p> Vivamus luctus egestas convallis. Vestibulum arcu sapien, consequat a urna a, gravida
                            molestie est. Mauris iaculis felis id elit laoreet, vitae blandit odio lacinia. Etiam
                            viverra arcu lobortis semper posuere. Curabitur mattis a erat at ultricies. Duis ac
                            porta
                            est, non rhoncus orci. Sed venenatis, nunc sit amet eleifend consequat, nibh leo laoreet
                            purus, id pretium purus quam quis magna. Nullam mollis velit eu velit congue, quis
                            facilisis
                            tortor vestibulum. Sed malesuada nibh vitae neque pulvinar pretium. Nullam fermentum
                            aliquet
                            metus ac sollicitudin. </p>
                        <hr>
                        <h3> Privacy Policy: </h3>

                        <p> Duis eu massa diam. Donec in porta tortor, in pharetra velit. Nunc at justo convallis,
                            tempor tortor non, tempus mauris. Integer tristique nisl hendrerit, rhoncus odio a,
                            semper
                            risus. Integer vehicula tempus porttitor. Praesent odio nibh, commodo vel posuere non,
                            rhoncus id augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            pretium
                            eros sit amet gravida blandit. Suspendisse potenti. Integer interdum facilisis urna, nec
                            condimentum dolor consequat at. Etiam eu elit adipiscing, ultricies elit a, tincidunt
                            felis.
                            Proin lobortis auctor lectus, id vestibulum felis tincidunt a. Quisque molestie euismod
                            diam, sit amet condimentum ligula pellentesque a. </p>
                        <hr>
                        <h3> User Conduct and Rules: </h3>

                        <p> Donec sit amet convallis est. Morbi molestie, est sed viverra vehicula, ligula sem
                            egestas
                            urna, vel porta erat purus nec quam. Nunc ac iaculis sem. Aenean varius augue quam, et
                            fringilla turpis porta mollis. Pellentesque quis cursus erat, a molestie neque. Fusce
                            sed
                            magna eu purus rhoncus fermentum. Cras non arcu ac metus volutpat varius. Duis id eros
                            ac
                            felis sodales ornare. </p>

                        <p> Duis eu massa diam. Donec in porta tortor, in pharetra velit. Nunc at justo convallis,
                            tempor tortor non, tempus mauris. Integer tristique nisl hendrerit, rhoncus odio a,
                            semper
                            risus. Integer vehicula tempus porttitor. Praesent odio nibh, commodo vel posuere non,
                            rhoncus id augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            pretium
                            eros sit amet gravida blandit. Suspendisse potenti. Integer interdum facilisis urna, nec
                            condimentum dolor consequat at. Etiam eu elit adipiscing, ultricies elit a, tincidunt
                            felis.
                            Proin lobortis auctor lectus, id vestibulum felis tincidunt a. Quisque molestie euismod
                            diam, sit amet condimentum ligula pellentesque a. </p>
                        <hr>
                        <h3> Shipping: </h3>

                        <p> Etiam tempus sodales luctus. Nam mattis ipsum id magna sollicitudin, et ullamcorper
                            neque
                            eleifend. Integer at augue et purus facilisis ultrices. Mauris aliquet rutrum suscipit.
                            Morbi quis nulla eget quam tempus aliquam in pretium purus. Aliquam porttitor, magna eu
                            euismod lacinia, diam neque facilisis arcu, sit amet condimentum massa turpis vel nisl.
                            Suspendisse lobortis lorem mollis, sodales magna non, eleifend neque. Vestibulum
                            vulputate
                            nibh et lacus luctus venenatis. Mauris pulvinar ultrices libero, interdum convallis urna
                            dapibus sed. Sed libero ligula, ultricies non pharetra at, ullamcorper sed quam. </p>
                        <hr>
                        <h3> Delivery: </h3>

                        <p> sit amet condimentum massa turpis vel nisl. Suspendisse lobortis lorem mollis, sodales
                            magna
                            non, eleifend neque. Vestibulum vulputate nibh et lacus luctus venenatis. Mauris
                            pulvinar
                            ultrices libero, interdum convallis urna dapibus sed. Sed libero ligula, ultricies non
                            pharetra at, ullamcorper sed quam. </p>
                        <hr>
                        <h3> Customer : </h3>

                        <p></p>
                        <ul class="list-dot">
                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li> Phasellus dignissim eros id nibh lacinia, ac mollis odio vulputate.</li>
                            <li> Pellentesque sed nibh facilisis, auctor eros sit amet, ultricies ipsum.</li>
                            <li> Sed vitae sem varius risus imperdiet pulvinar.</li>
                        </ul>
                        <p></p>

                        <p></p>
                        <ul class="list-dot">
                            <li> Phasellus molestie nisl ultricies neque auctor, eget iaculis justo ultrices.</li>
                            <li> Vivamus mattis sapien id nisl bibendum, id scelerisque enim faucibus.</li>
                            <li> Proin ornare odio feugiat urna cursus placerat.</li>
                            <li> Sed at mi quis quam ornare varius a at ligula.</li>
                        </ul>
                        <p></p>

                        <p></p>
                        <ul class="list-dot">
                            <li> Fusce nec augue et libero mattis venenatis nec quis arcu.</li>
                            <li> Nulla mollis neque a orci cursus scelerisque.</li>
                            <li> Nullam eu enim ut lectus sodales commodo eu ut lorem.</li>
                            <li> Donec et enim pellentesque, faucibus mauris eu, euismod enim.</li>
                        </ul>
                        <p></p>

                        <p>
                        </p>
                        <hr>
                        <h3> Cancellation of Bulk Orders : </h3>

                        <p></p>
                        <ul class="list-number">
                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li> Phasellus dignissim eros id nibh lacinia, ac mollis odio vulputate.</li>
                            <li> Pellentesque sed nibh facilisis, auctor eros sit amet, ultricies ipsum.</li>
                            <li> Sed vitae sem varius risus imperdiet pulvinar.</li>
                            <li> Phasellus molestie nisl ultricies neque auctor, eget iaculis justo ultrices.</li>
                            <li> Vivamus mattis sapien id nisl bibendum, id scelerisque enim faucibus.</li>
                            <li> Proin ornare odio feugiat urna cursus placerat.</li>
                            <li> Sed at mi quis quam ornare varius a at ligula.</li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.main-container -->
<div class="parallaxbox about-parallax-bottom">
    <div class="container">
        <div class="row text-center featuredbox">
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class="icon-book-open ln-shadow-box shape-3"></i></div>
                    <h3 class="title-4">herausragendes Beispiel</h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
                        tortor.</p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class=" icon-lightbulb ln-shadow-box shape-2"></i></div>
                    <h3 class="title-4">Fusce ex ipsum</h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor.
                        .</p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"><i class="icon-megaphone ln-shadow-box shape-7"></i></div>
                    <h3 class="title-4">Pellentesque rhoncus </h3>

                    <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien
                        posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit
                        tortor. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "foot"}}{{end}}